@import "../mixins.scss";

.clients {
  margin-top: 150px;
  &__projects {
    display: flex;
    justify-content: space-evenly;

    h1 {
      font-weight: 400;
      font-size: 52px;
      color: var(--primary-color);
      span {
        color: var(--gray-color);
        font-weight: lighter;
      }
    }

    p {
      margin-top: 10px;
    }
  }

  &__blue {
    margin-top: 100px;
    img {
      width: 100%;
    }
  }
}
