@import "../mixins.scss";

.different {
  margin-top: 50px;
  &__container {
    display: flex;
    @include respond(tab-land) {
      flex-direction: column;
    }
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__image {
    flex: 1;
    @include respond(tab-land) {
      order: 2;
    }
    @include respond(tab-port) {
      order: 2;
    }
  }

  &__mamta {
    position: relative;

    .mamta1,
    .mamta2 {
      position: absolute;
      top: 0;
      left: 0;
      @include respond(tab-land) {
        width: 95%;
      }
      @include respond(tab-port) {
        max-width: 100%;
      }
    }
    .mamta1 {
      left: 0; /* Keeps image1 at the left edge */
    }

    .mamta2 {
      left: 30px; /* Offset image2 by 50 pixels from the left */
      top: 10px;
    }
  }

  &__quality {
    flex: 1;
    h1 {
      font-weight: 500;
      font-size: 32px;
      @include respond(phone) {
        font-size: 15px;
      }
    }
    span {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 40px;
      @include respond(phone) {
        font-weight: 700;
        font-size: 15px;
      }
    }
  }

  &__features {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .feature {
      h4 {
        margin-top: 50px;
        font-weight: 700;
        font-size: 15px;
        @include respond(phone) {
          font-weight: 600;
          font-size: 12px;
          margin-top: 20px;
        }
      }
      p {
        color: var(--gray-color);
        // width: 192px;
        @include respond(phone) {
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          margin-bottom: 20px;
        }
      }
      img {
        @include respond(phone) {
          width: 24px;
          height: 24px;
        }
      }
    }

    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-top: 40px;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__btn2 {
    display: none;

    @include respond(tab-land) {
      display: block;
      margin-top: 850px;
      text-align: center;
    }
    @include respond(tab-port) {
      display: block;
      margin-top: 650px;
    }
    @include respond(phone) {
      display: block;
      margin-top: 370px;
    }
  }
}
